:root {
    font-size: 20px;
    font-family: 'Baloo Paaji 2', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.index-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.index-element {
    padding: 10px 0 35px 0;
}

#site-head {
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center;
    animation: title-animation;
    animation-duration: 3s;
    padding-top: 10px;
}

#go-btn {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 22px;
    color: white;
    background-color: #232323;
    width: 200px;
    height: 40px;
    border-radius: 12px;
    border: none;
    transition: 1s;
}

#go-btn:hover {
    background-color: #246786;
    width: 220px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0 20px #6b6b6b;
}

.planet-row {
    display: flex;
    align-content: space-between;
}

.planet-img {
    animation: planet-onload;
    padding: 0 25px;
    animation-duration: 2s;
}

.planet-img:hover {
    width: 10px;
}

#p1 {
    width: 200px;
}

#p2 {
    width: 50px;
}

#p3 {
    width: 60px;
}

.earth-element {
    text-align: center;
}

.earth-top {
    display: block;
    position: fixed;
    left: calc(-100vw / 4);
    animation: earth-slide;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media only screen and (min-width: 600px) {
    #site-head {
        font-size: 3rem;
    }

    @keyframes title-animation {
        0% {color: black; font-size: 4rem}
        100% {color: white; font-size: 3rem}
    }
}

@media only screen and (max-width: 600px) {
    #site-head {
        font-size: 2rem;
    }

    @keyframes title-animation {
        0% {color: black; font-size: 4rem}
        100% {color: white; font-size: 2rem}
    }
}

@keyframes planet-onload {
    0% {width: 400px; opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes earth-slide {
    0% {left: calc(-100vw / 3);}
    50% {left: calc(100vw - 50%);}
    100%{left: calc(-100vw / 3);}
}
